.signup_page {
    width: 100%;
    display: flex;
    justify-content: center; /*가로정렬*/
    margin-bottom: 150px;
}

/*메인*/
.signupcontainer {
    max-width: 500px;
    padding: 0 30px;
}

/*상단 로고*/
.signup_logo > img {
    width: 200px;
    height: auto; /*비율맞추도록*/
    margin-top: 30px;
    margin-left: 30%;
    margin-bottom: 100px;
    border-radius: 50px;
}

/*입력창*/
.input-container {
    margin-bottom: 15px;
    font-weight: bolder;
}

.input-container > div > input {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding-right: 10px;
    margin-top: 10px;
    padding-left: 10px;
}

/*input type number인 우측 스클롤 삭제*/
.Signup_tel_input::-webkit-outer-spin-button,
.Signup_tel_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.signup_button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: bolder;
}

.signup_button:hover {
    cursor: pointer;
}
