.login_page {
    height: 100vh; /*세로 100%*/
    width: 100%;
    display: flex;
    justify-content: center; /*가로정렬*/
    align-items: center; /*세로정렬*/
}

/*상단*/

/*로그인 관련*/
/* 참고: https://0lrlokr.tistory.com/46 */
.login {
    max-width: 500px;
    padding: 0 30px;
}

/* 상단로고 */
.login_logo > img {
    width: 200px;
    height: auto; /*비율맞추도록*/
    margin-top: 30px;
    margin-left: 30%;
    margin-bottom: 100px;

    border-radius: 50px;
}

.contentWrap > input {
    width: 400px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 400; /*글씨 두께*/
    margin-bottom: 10px;
    padding: 10px;
}

.Login_error {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Login_button {
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    font-weight: bolder;
}

.Login_button:hover {
    cursor: pointer;
}

.Login_find {
    display: flex;
    margin-top: 10px;
}

.Login_find > div {
    margin-right: 10px;
}

.Login_find a {
    color: black;
    text-align: none;
    font-weight: bolder;
    text-decoration: none; /*밑줄제거*/
}

/*하단 메뉴*/
