.Passwordfix_page {
    width: 100%;
    display: flex;
    justify-content: center; /*가로정렬*/
    margin-bottom: 150px;
}

.Passwordfix_main > div {
    margin: 10px;
    margin-bottom: 50px;
}

/* 로고 */
.passwrodfix_logo > img {
    width: 100px;
    height: auto; /*비율맞추도록*/
    margin-left: 40%;
    margin-bottom: 30px;
    border-radius: 30px;
}

/* 비밀번호 찾기 */
.Passwordfix_subject {
    font-size: 40px;
    font-weight: bolder;
    margin-left: 25%;
}

.Passwordfix_input > input {
    width: 400px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400; /*글씨 두께*/
    margin-bottom: 10px;
    padding: 10px;
}

.Passwordfix_btn {
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    font-weight: bolder;
}

.Password_error {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}
